@model EmergencyManagementSystem.Service.Models.EmployeeModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h1>Create</h1>

    <h4>EmployeeModel</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Guid" class="control-label"></label>
                    <input asp-for="Guid" class="form-control" />
                    <span asp-validation-for="Guid" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telephone" class="control-label"></label>
                    <input asp-for="Telephone" class="form-control" />
                    <span asp-validation-for="Telephone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CPF" class="control-label"></label>
                    <input asp-for="CPF" class="form-control" />
                    <span asp-validation-for="CPF" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RG" class="control-label"></label>
                    <input asp-for="RG" class="form-control" />
                    <span asp-validation-for="RG" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BirthDate" class="control-label"></label>
                    <input asp-for="BirthDate" class="form-control" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Company" class="control-label"></label>
                    <input asp-for="Company" class="form-control" />
                    <span asp-validation-for="Company" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProfessionalRegistration" class="control-label"></label>
                    <input asp-for="ProfessionalRegistration" class="form-control" />
                    <span asp-validation-for="ProfessionalRegistration" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AddressId" class="control-label"></label>
                    <input asp-for="AddressId" class="form-control" />
                    <span asp-validation-for="AddressId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="OccupationId" class="control-label"></label>
                    <input asp-for="OccupationId" class="form-control" />
                    <span asp-validation-for="OccupationId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>*@

@*<div>
        <a asp-action="Index">Back to List</a>
    </div>*@

@*Testando template*@
<!-- Content Header (Page header) -->
<div class="content-header sty-one">
    <h1 class="text-black">Funcionário</h1>
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="sub-bread"><i class="fa fa-angle-right"></i> Forms</li>
        <li><i class="fa fa-angle-right"></i> Form Layouts</li>
    </ol>
</div>

<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="card card-outline">
                <div class="card-header bg-blue">
                    <h5 class="text-white m-b-0">Basic Example</h5>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox">
                                Check me out
                            </label>
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="content">
    <div class="row m-t-3">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header bg-blue">
                    <h5 class="m-b-0">Horizontal Form</h5>
                </div>
                <div class="card-body">
                    <form action="#" class="form-horizontal form-bordered">
                        <div class="form-body">
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3">First Name</label>
                                <div class="col-md-9">
                                    <input placeholder="First Name" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3">Last Name</label>
                                <div class="col-md-9">
                                    <input placeholder="Last Name" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3">Gender</label>
                                <div class="col-md-9">
                                    <select class="form-control custom-select">
                                        <option value="">Male</option>
                                        <option value="">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3">Date of Birth</label>
                                <div class="col-md-9">
                                    <input class="form-control" placeholder="dd/mm/yyyy" type="date">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3">Street</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3">City</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3">State</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label text-right col-md-3">Post Code</label>
                                <div class="col-md-9">
                                    <input class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group row last">
                                <label class="control-label text-right col-md-3">Country</label>
                                <div class="col-md-9">
                                    <select class="form-control">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="offset-sm-3 col-md-9">
                                            <button type="submit" class="btn btn-success"> Submit</button>
                                            <button type="button" class="btn btn-inverse">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
