@using EmergencyManagementSystem.Service.Models
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model X.PagedList.IPagedList<EmployeeModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-header sty-one">
    <h1 class="text-white">Contact</h1>
</div>
<div class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="info-box">
                <div class="box-body">
                    <div class="right-page-header">
                        <div class="d-flex">
                            <div class="align-self-center">
                                <h4 class="text-white m-b-1">Funcionários</h4>
                            </div>
                            <div class="ml-auto">
                                <input id="demo-input-search2" placeholder="pesquisar" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="example2" class="table table-bordered table-hover no-wrap">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Telefone</th>
                                    <th>Email</th>
                                    <th>Compania</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>Tiago</td>
                                        <td>47 98483-0063</td>
                                        <td>alexander@gmail.com</td>
                                        <td>@item.Company</td>
                                        <td><button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Delete"> <i class="ti-close" aria-hidden="true"></i> </button></td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        @*@Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }),
                            new PagedListRenderOptionsBase
                            {
                                PreviousElementClass = "paginate_button previous disabled",
                                ActiveLiElementClass = "paginate_button",
                                PageClasses = new[] { "paginate_button" },
                                NextElementClass = "paginate_button next",
                                LinkToNextPageFormat = "Próxima",
                                LinkToPreviousPageFormat = "Voltar",
                                LiElementClasses = new[] { "paginate_button" },
                                ClassToApplyToFirstListItemInPager = "paginate_button",
                                ClassToApplyToLastListItemInPager = "paginate_button",
                                ContainerDivClasses = new[] { "pagination" },
                                EllipsesElementClass = "paginate_button" 
                            })*@

                        <ul class="pagination">
                                <li class="paginate_button previous disabled">
                                    <a href="#">Voltar</a>
                                </li>
                                <li class="paginate_button active">
                                    <a href="#">1</a>
                                </li>
                                
                                <li class="paginate_button next">
                                    <a href="#">Próximo</a>
                                </li>
                            </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
